@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: #0C0B0F;
  color: #F0EFF6;
  display:flex;
  flex-direction: column;
  height:100vh;
  width:100vw;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

header {
  width: 100vw;
  position:fixed;
  top:0;
}

header:hover {
  cursor: url('images/favicon-32x32.png'), crosshair;
}

.top-bar {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #A5FEAF;
  color:black;
  text-transform: uppercase;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 2rem;
}

#lengthNum {
  float:right;
}

footer {
  position:absolute;
  bottom:1rem;
  width:100vw;
  overflow-x: hidden;
}
footer:hover {
  cursor: url('images/favicon-32x32.png'), crosshair;
}
.marquee-wrapper {
  display:flex;
  overflow: hidden;
  min-width: 100%;
  --gap: 2rem;
  gap: var(--gap);
}

.marquee {
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
}

.marquee-text {
  color:grey;
  font-size:1em;
  white-space:nowrap;
  animation: scroll linear 5s infinite;
}

.marquee-text:after {
  content: '✨';
  margin-left: 2rem;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@media (prefers-reduced-motion: reduce) {
  .marquee-text {
    animation: none;
  }
}

/* generator */
form {
  width:45ch;
  display:flex;
  flex-direction:column;
  gap:1rem;
}

fieldset {
  background: #24232A;
  display:flex;
  flex-direction: column;
  padding:1rem;
  gap:1rem;
  border:none;
}
.pw-output {
  padding:0.5rem;
}

#password {
  background: transparent;
  border:none;
  font-size: 1em;
  padding-left: 0.5em;
  color: grey;
}

/* inputs */

input[type="checkbox"]:hover {
  cursor:pointer;
}

input:focus {
  outline: #A5FEAF;
  outline-offset: 0.125rem;
}

/* checkboxes */
input[type="checkbox"] {
  /* hide native styling */
  appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  margin:0;
  /* custom styling */
  position: relative;
  font: inherit;
  color: currentColor;
  width:1em;
  height:1em;
  border: 0.15em solid #A5FEAF;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
  color:black;
}
input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

input[type="checkbox"]:checked {
  background: #A5FEAF;
}

/* slider */

input[type="range"] {
  /* hide native styling */
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor:pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background:#A5FEAF;;
  height:0.5rem;
}

input[type="range"]::-moz-range-track {
  background:#A5FEAF;
  height:0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: black;
  height:1.25rem;
  width:1.25rem;
  border-radius: 50%;
  border: 0.1rem solid #A5FEAF;
  margin-top: -0.25rem;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: black;
  height:1.25rem;
  width:1.25rem;
  border-radius: 50%;
  border: 0.1rem solid #A5FEAF;
}


/* generate button */
#generate {
  padding:0.5rem;
  text-transform: uppercase;
  background: #A5FEAF;
  color: black;
  border:none;
}

#generate:after {
  content: '→';
  padding-left: 0.5rem;
}

#generate:hover {
  cursor: url('images/favicon-32x32.png'), pointer;
  background:transparent;
  outline: 0.1rem solid #A5FEAF;
  color: #A5FEAF;
}

.filled {
  background-color: #A5FEAF;
}
